.nav-container {
    background-color: skyblue;
    width: 100vw;
    /* height: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav-screen-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: green;
}